{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body ng-app="encryptednotetaking">

    {% verbatim %}  
    <div ng-controller="NotesController">
        <p ng-repeat="note in data">
            <edit-note></edit-note>
        </p>
        <new-note></new-note>
    </div>
    {% endverbatim %}

    <script src="{% static "encryptednotetaking/encryptednotetaking.js" %}"></script>
    <script src="{% static "encryptednotetaking/editnote.directive.js" %}"></script>
    <script src="{% static "encryptednotetaking/newnote.directive.js" %}"></script>
</body>
</html>