<div data-toggle="modal" data-target="#newModal">
  <button class="btn btn-primary">New note</button>
</div>

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <input class="modal-title form-control" id="newModalLabel" ng-model="note.title">
      </div>
      <div class="modal-body">
        <textarea class="form-control" type="text" ng-model="note.encrypted_content" rows="15"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="add()">Add note</button>
      </div>
    </div>
  </div>
</div>